.header {
    position: fixed;
    z-index: 1;
    background-color:transparent;

    &__logo {
        height: 36px;
        padding-left: 36px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 2s ease-in-out;

        &:hover {
            background-color: rgb(26, 29, 41);
            transition:all 1s ease;
        }

    }

    &__links {
        display: flex;
        list-style: none;
        font-weight: 700;
        align-items: center;
        letter-spacing: 1px;
        padding: 16px 18px;

        &__item a {
            display: flex;
            text-decoration: none;
            padding: 0 32px;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;

            &:hover p {
                border-bottom: 2px solid #f9f9f9;
            }

            i {
                padding-right: 8px;
            }
        }
    }


}