.shows {
    padding: 2vw 5.6vw;

    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;
        padding-bottom: 44px;

        &--is-active {
            display: grid;

            @media (max-width: 768px) {
                grid-template-columns: 1fr 1fr;
                gap: 0;
                margin-top: 0;
                padding-bottom:0;
            }
        }

        &__item {
            text-align: center;
            border: 2px solid transparent;
            cursor: pointer;

            &:hover {
                border: 2px solid #f9f9f9;
                border-radius: 4px;
            }

            img {
                border-radius: 4px;
                max-width: 100%;

                @media (max-width:768px) {
                    height: 56px;
                }
            }

            h4 {
                padding: 8px 0;
            }

            p {
                font-size: 13px;
            }
        }

        &__description {
            h3 {
                padding-bottom: 16px;
            }
        }

        &__duration {
            padding: 50% 20px;

            img {
                height: 20px;
            }
        }

        &__direction {
            padding: 50% 20px;
        }
    }

    &__tabs {
        display: flex;

        @media (max-width: 768px) {
            justify-content: center;
        }

        &__buttons {
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 1.4;
            text-transform: uppercase;
            background-color: transparent;
            margin-right: 40px;
            border: none;
            cursor: pointer;
            border-bottom: 3px solid transparent;

            &--is-active {
                border-bottom: 3px solid #f9f9f9;
                border-radius: 3px;
            }
        }
    }
}